@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&display=swap');


/* --------- RESET --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*--------------------HEADER---------------------*/


header nav {
    background-color: black;
}

header nav i {
    font-size: 65px;
}



/*---------------------MAIN---------------------*/






/*----------SECCION 2 DLVRY EFCTVO TARJTAS--------*/

.pagos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pagos div img {
    height: 70px;
    width: 70px;
}

.pagos div {
    padding: 50px;
    padding-left: 150px;
}







/*----------------DESTACADOS------------*/

.destacados h2 {
    font-size: 34px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.destacados .destacadosflex {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}


.destacados .destacadosflex div {
    width: 321px;
    height: 500px;
    text-align: center;
    border: 2px solid white;
    margin: 20px;
    flex-wrap: wrap;
}

.destacados div a {
    text-decoration: none;
    color: black;
}



.destacados div a img {
    flex-wrap: wrap;
    width: 321px;
    height: 386px;
}



/*------------------NOVEDADES------------*/

.novedades h2 {
    font-size: 34px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.novedades div {
    text-align: center;
    border: 2px solid white;
    margin: 20px;
}

.novedades div a {
    text-decoration: none;
    color: black;
}

.novedades div a p {
    color: black;
    font-size: 25px;
    margin: 25px;
}



/*------------------NEWSLETTER------------*/

.newsletter {
    background-color: black;
    color: white;
    padding: 25px;
}

.newsletter h2 {
    font-weight: 500;
    font-size: 34px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.newsletter p {
    font-weight: 800;
    font-size: 34px;
    text-align: center;
    padding-bottom: 40px;
}

.emailform {
    height: 40px;
    display: flex;
    justify-content: center;
}



/*----------------------------------------------NOSOTROS PAGE------------------------------------------*/


.contenedor-nosotros{
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "section aside"
    ;

}

.section-nosotros{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    grid-area: section;
}

.section-nosotros div span{
    font-size: 20px;
}

.div-nosotros h2{
    font-size: 30px;
}

.div-nosotros p{
    font-size: 16px;
    font-style: oblique;
    font-weight: 500;
}

.aside-nosotros{
    grid-area: aside;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.aside-nosotros div h2{
    font-size: 50px;
}

.div-aside-nosotros p{
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
}

/*----------------------------------------------NOSOTROS GALERIA------------------------------------------*/

.grid-galeria {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item {
    box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.75);
    position: relative;


}

.grid-item h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.675);
    width: 100%;
    text-align: center;
}



.img-5 {
    grid-row: span 2;
}

.img-6{
    grid-row: span 2;
}


/*----------------------------------------------TALLES PAGE------------------------------------------*/


.grid-talles{
    color: black;
    font-size: 20x;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: auto, auto, auto, auto;


    grid-template-areas: 

    "remera" "buzo" "skirt"
    ;

}



.grid-item-1{
    background-color: rgb(255, 255, 255);
    grid-area: remera;
    align-items: center;
    text-align: center;
}

.grid-item-1 p{
    text-align: center;
}

.grid-item-1 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.grid-item-2{
    background-color: rgb(255, 255, 255);
    grid-area: buzo;
    align-items: center;
    text-align: center;
}

.grid-item-2 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.grid-item-3{
    background-color: rgb(255, 255, 255);
    grid-area: skirt;
    align-items: center;
    text-align: center;
}

.grid-item-3 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}


/*------------WHATSAPPFIJO--------*/

.wspfixed img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 50px;
}


/*-----------FOOTER---------*/

footer {
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

footer .footerflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/*-------------MAPA UBICACION---------*/


footer div h4 {
    font-size: 20px;
    padding: 20px;
}

footer div iframe {
    height: 250px;
    width: 250px;
}


/*------------------CONTACTANOS------------*/

footer .contactanosfoot {
    list-style: none;
}


footer .contactanosfoot li a {
    text-decoration: none;
    color: black;
}

footer ul h4 {
    font-size: 20px;

}


footer ul li img {
    height: 25px;
    width: 25px;
}


/*-------------------------REDES-------------------*/

footer .redesfoot {
    list-style: none;
}

footer .redesfoot .redesflex {
    display: flex;
    justify-content: space-around;

}






/*------------------SIZES PAGE---------------------*/

.talles h1 {
    text-align: center;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.talles div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.talles div img {
    display: flex;
    flex-wrap: wrap;
    padding-left: 46px;
    height: 342px;
    width: 359px;
}

.talles div .centerbuzo {
    padding-left: 150px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.talles div .centerskirt {
    padding-top: 1px;
    padding-bottom: 50px;
}

.talles div h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.talles div h3 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.talles div p {
    padding-top: 2px;
    padding-bottom: 2px;
}

/*----------------------MEDIA QUERIES-------------------------------*/
@media screen and (max-width:1400px){
    
    .section-nosotros img{
        height: 500px;
        width: 500px;
    }

    
    .aside-nosotros div h2{
        font-size: 40px;
        text-align: center;
    }

    .aside-nosotros p{
        display: none;
    }

    .wspfixed{
        display: none;
    }

}




@media screen and (max-width:1240px){
    .pagos{
        flex-direction: column;
    }
}

@media screen and (max-width:1100px){
    .section-nosotros img{
        height: 400px;
        width: 400px;
        object-fit: cover;
    }
}


@media screen and (max-width:1000px){

    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerflex{
        flex-direction: column;
    }
    .footerflex .redesflex{
        align-content: center;
        
    }
}


@media screen and (max-width:950px){

    .hero div img{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }


    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px ;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;    
    }

    .img-6{
        grid-row: span 2;
    }

    .wspfixed{
        display: none;
    }

    .section-nosotros img{
        display: none;
    }

    .aside-nosotros{
        background-color: white;
        margin-bottom: 20px;
    }
    .aside-nosotros div h2{
        font-size: 45px;
    }

    .contenedor-nosotros{
        display: flex;
        flex-direction: column-reverse
    }

}


@media screen and (max-width:515px){

}


@media screen and (max-width:450px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .aside-nosotros div h2{
        text-align: center;
        font-size: 25px;
    }

    .section-nosotros h2{
        font-size: 25px;
        text-align: center;
    }

    .section-nosotros div p{
        font-size: 16px;
        text-align: center;
    }
}